.adive-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__advice {
  border: 5px solid #fff;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-left: 35%;
  margin-right: 35%;
  /* background-color: white; */
  box-shadow: 2px 2px 15px 0px #fff;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.container__advice > img {
  width: 5vh;
}

.adive-title > h2 {
  margin-top: 1rem;
}

.adive-title > p {
  margin: 1rem;
  font-size: 20px;
  text-align: center;
}
